<div class="p-3 mb-2 bg-light text-dark">
  <h1>
      <%= @post.title %>
  </h1>

  <p><%= @post.content %></p>

  <br/>

  <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  <%= link_to 'Back', posts_path, class: "btn btn-secondary" %>
</div>
